@{
    @model WebAppInstaCoreMVC.Models.Client
    //ViewData["Title"] = "Home Page";
    //@ViewBag.message;
    //@ViewBag.nom
    //ViewData["Nom"];
    //@ViewData["Message"];
  /*
   * ViewData["Title"] = "Home Page";
    <p>Viewbagresult : </p> @ViewData["age"];
    <p></p>
    <br />

    <p>TempDataresult : </p>@TempData["age"];
}
   * 
   * 
   * 
   * */ 

