@{
    @model WebAppInstaCoreMVC.Models.Client
    //ViewData["Title"] = "Home Page";
    //@ViewBag.message;
    //@ViewBag.nom
    //ViewData["Nom"];
    //@ViewData["Message"];
  /*
   * ViewData["Title"] = "Home Page";
    <p>Viewbagresult : </p> @ViewData["age"];
    <p></p>
    <br />

    <p>TempDataresult : </p>@TempData["age"];
}
   * 
   * 
   * 
   * */ 




<div class="text-center">
    <h1 >Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 <a asp-area="" asp-controller="Client" asp-action="Create">Ajouter un client</a>
}
